<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Online Gun Shop</span>

    <!--<div ngFor let-lang [ngForOf]="languages">-->
  <!--<span *ngIf="lang.code !== localeId">-->
    <!--<a href="/{{lang.code}}/">{{lang.label}}</a> </span>-->
      <!--<span *ngIf="lang.code === localeId">{{lang.label}} </span>-->
    <!--</div>-->


    <span class="example-spacer"></span>

    <ng-container *ngIf="this.authService.isAuthenticated()">
      <button i18n mat-button routerLink="">Home</button>
      <button i18n mat-button routerLink="about">What's this</button>
      <button i18n mat-button routerLink="sign-up" >Sign up</button>
      <button i18n mat-button routerLink="login">Log in</button>
    </ng-container>

    <ng-container *ngIf="!this.authService.isAuthenticated()">
      <button i18n mat-button routerLink="">Home</button>
      <button i18n mat-button routerLink="cart" >Cart</button>
      <button i18n mat-button routerLink="favourites" >Favourites</button>
      <button i18n mat-button routerLink="purchases" >Purchases</button>
      <button i18n mat-button routerLink="my-profile" >My profile</button>
      <button i18n mat-button (click)="removeToken()">Log out</button>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
