<h2 i18n>Log in from here</h2>
<br>

<div class="easybooker-div">

  <form>

    <mat-form-field class="example-full-width">
      <input matInput i18n-placeholder type="text" placeholder="Username" name="username" [(ngModel)]="username" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput i18n-placeholder type="password" placeholder="Password" name="password" [(ngModel)]="password" />
    </mat-form-field>

    <br/>
    <br>

    <button i18n mat-raised-button (click)="loginUser()">Log in</button>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>

  </form>

</div>
